In [41]:
import pandas as pd

In [42]:
import matplotlib.pyplot as plt

In [43]:
pd.read_csv("file:///C:/Users/Timothy/OneDrive/Documents/tugasbesar/BanjirXtanahlongsor.csv", index_col=0)

       Sumatra  Jawa  Bali & NT  Sulawesi  Kalimantan  Maluku  Papua
Tahun
2010        11    18          3         1          11       3      0
2011         4     9          7         1           3       2      0
2012        15    13          3         3          14       3      1
2013         7    17          6         0          11       0      6
2014        12    16          0         0          13       0      1
2015        13    14          1         1           1       1      0
2016        31    29          0         0           9       3      2
2017        21    22          0         3          16       4      3
2018         2     1          3         0           2       0      4
2019         0     0          0         0           0       0      0

In [44]:
BanjirXtanahlongsor["Sumatra"].sum()

116

In [45]:
BanjirXtanahlongsor["Jawa"].sum()

139

In [46]:
BanjirXtanahlongsor["Bali & NT"].sum()

23

In [47]:
BanjirXtanahlongsor["Sulawesi"].sum()

9

In [48]:
BanjirXtanahlongsor["Kalimantan"].sum()

80

In [49]:
BanjirXtanahlongsor["Maluku"].sum()

16

In [50]:
BanjirXtanahlongsor["Papua"].sum()

17